    <nav class="site-nav">
        <div class="menu-bg-wrap">
          <div class="site-navigation">
            <a href="{% url 'index' %}}" class="logo m-0 float-start">Consignee Ease</a>

            <ul
              class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
            >
              <li class="active"><a href="{% url 'branch_home' %}">Home</a></li>
              <li class="has-children">
                <a href="#">Consignment</a>
                <ul class="dropdown">
                  <li><a href="{% url 'branchConsignment' %}">Add Consignment</a></li>
                  <li><a href="{% url 'branchviewconsignment' %}">View Consignment</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a href="#">Staff</a>
                <ul class="dropdown">
                  <li><a href="{% url 'staff' %}">Add Staff</a></li>
                  <li><a href="{% url 'view_staff' %}">View Staff</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a href="#">TripSheet</a>
                <ul class="dropdown">
                  <li><a href="{% url 'addTripSheet' %}">Add TripSheet</a></li>
                  <li><a href="{% url 'addTripSheetList' %}"> TripSheet List</a></li>
                  <li><a href="{% url 'viewTripSheetList' %}">View Trip Sheet</a></li>
                </ul>
              </li>


              <li class="has-children">
                <a href="#">Paymeny History</a>
                <ul class="dropdown">
                  <li><a href="{% url 'branchPaymenyHistory' %}">Payment History</a></li>
                  <li><a href="{% url 'branchcredit' %}">Add Credit</a></li>
                  <li><a href="{% url 'branchcredit_print' %}">Ledger</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a href="#">Consignment Master</a>
                <ul class="dropdown">
                  <li><a href="{% url 'branchConsignorView' %}">ConsignorView</a></li>
                  <li><a href="{% url 'branchConsigneeView' %}">Consignee View</a></li>
                </ul>
              </li>

              <li><a href="{% url 'index' %}">Logout</a></li>
            </ul>

            <a
              href="#"
              class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
              data-toggle="collapse"
              data-target="#main-navbar"
            >
              <span></span>
            </a>
          </div>
        </div>
    </nav>