{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" />

    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>
Consignment    </title>
      <style>
        /* CSS for horizontal scrolling */
        .table-container {
            overflow-x: auto; /* Enable horizontal scrolling */
            -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
        }

        table {
            width: 100%; /* Ensure the table takes full width */
            min-width: 600px; /* Adjust based on the expected minimum width */
        }
    </style>
  </head>
  <body>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    {% include 'customer_nav.html' %}

<br><br><br>

      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up"> Consignment List</h1>


          </div>
        </div>
      </div>
    </div>
	<!-- end header -->

<div class="background-container"></div>
<div class="content">
    <div class="table-container">
        <form method="get">
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col style="width: 5%;"> <!-- Adjust the width as needed -->
                    <col style="width: 15%;">
                    <col style="width: 8%;">
                    <col style="width: 8%;">
                    <col style="width: 15%;">
                    <col style="width: 5%;">
                    <col style="width: 8%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                </colgroup>
                <thead class="table-dark">
                <tr>
                    <th scope="col">LR.No</th>
                    <th scope="col">Date & Time</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Product</th>
                    <th scope="col">Pieces</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Consigner Name</th>
                    <th scope="col">Consignee Name</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Pay Status</th>
                    <th scope="col">Status</th>
                    <th scope="col">Print</th>
                </tr>
                </thead>

               <tbody>
        {% for track_id, details in grouped_userdata.items %}
            <tr class="custom-row">
                <td>{{ track_id }}</td>
                <td>{{ details.date }} {{ details.time }}</td>
                <td>{{ details.route_from }}</td>
                <td>{{ details.route_to }}</td>
                <td>{{ details.products }}</td>
                <td>{{ details.pieces }}</td>
                <td>{{ details.weight }}</td>
                <td>{{ details.sender_name }}</td>
                <td>{{ details.receiver_name }}</td>
                <td>{{ details.total_cost }}</td>
                <td>{{ details.pay_status }}</td>
                <td>{{ details.status }}</td>
                <td class="action-btns">
    <a href="{% url 'downloadInvoice' track_id=track_id %}" class="btn btn-danger btn-download vtn-danger" target="_blank">   Download PDF
    </a>

                </td>
                <script>
    document.getElementById('downloadReceipt').addEventListener('click', function () {
        const invoiceElement = document.getElementById('invoice-content');

        html2canvas(invoiceElement, { scale: 2 }).then(canvas => {
            const imgData = canvas.toDataURL('image/png');
            const pdf = new jsPDF('p', 'mm', 'a4');
            const imgWidth = 210; // A4 width in mm
            const imgHeight = (canvas.height * imgWidth) / canvas.width;

            pdf.addImage(imgData, 'PNG', 0, 0, imgWidth, imgHeight);
            pdf.save('Invoice.pdf');
        });
    });
</script>

            </tr>
        {% endfor %}
    </tbody>
            </table>
                            <h1 align="center">Trip Sheet List</h1>

            <table class="table table-striped table-bordered">
                <colgroup>
                    <col style="width: 5%;"> <!-- Adjust the width as needed -->
                    <col style="width: 15%;">
                    <col style="width: 8%;">
                    <col style="width: 8%;">
                    <col style="width: 15%;">
                    <col style="width: 5%;">
                    <col style="width: 8%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                </colgroup>
                <thead class="table-dark">
                <tr>
                    <th scope="col">LR.No</th>
                    <th scope="col">Date & Time</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Product</th>
                    <th scope="col">Pieces</th>
                    <th scope="col">Consigner Name</th>
                    <th scope="col">Consignee Name</th>
                    <th scope="col">Driver Name</th>
                    <th scope="col">Driver Number</th>
                </tr>
                </thead>
                <tbody>
    {% for track_id, details in grouped_userdata.items %}
        {% for trip in details.trip_details %}
            <tr class="custom-row">
                <td>{{ track_id }}</td>
                <td>{{ trip.Date }} {{ trip.Time }}</td> <!-- Access trip.Date and trip.Time -->
                <td>{{ trip.route_from }}</td> <!-- Access trip.route_from -->
                <td>{{ trip.route_to }}</td> <!-- Access trip.route_to -->
                <td>{{ trip.products }}</td> <!-- Access trip.products -->
                <td>{{ trip.pieces }}</td> <!-- Access trip.pieces -->
                <td>{{ trip.sender_name }}</td> <!-- Access trip.sender_name -->
                <td>{{ trip.receiver_name }}</td> <!-- Access trip.receiver_name -->
                <td>{{ trip.DriverName }}</td> <!-- Access trip.DriverName -->
                <td>{{ trip.DriverNumber }}</td> <!-- Access trip.VehicalNo -->
            </tr>
        {% endfor %}
    {% endfor %}
</tbody>

            </table>
        </form>
    </div>
</div>


<div class="row mt-5">
          <div class="col-12 text-center">
            <!--
              **==========
              NOTE:
              Please don't remove this copyright link unless you buy the license here https://untree.co/license/
              **==========
            -->


          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.site-footer -->

    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>

