{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" />

    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>Consignment</title>
    <style>
        table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif; /* You can change this to any suitable font */
}

        table, th, td {
            border: 1px solid black;
            font-size:10px;
            color:black;
        }

        th, td {
            padding: 4px;
            text-align: left;
        }

        /* Print specific styles */
        @media print {
            body * {
                visibility: hidden;
            }

            .printable, .printable * {
                visibility: visible;
            }

            .printable {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
            }

            .no-print {
                display: none;
            }
        }
    </style>
</head>
<body>
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    {% include 'branch_nav.html' %}

    <br><br><br>

      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">TripSheet List</h1>


          </div>
        </div>
      </div>
    </div>
	<!-- end header -->
    <div class="printable">
    {% if trips %}
    <br/>
<div class="table-responsive">
    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th colspan="11" style="text-align: center;font-size:18px;"><strong>{{ trips.first.branch }}</strong></th>
            </tr>
            <tr>
                <td colspan="3">DRIVER'S NAME: {{ trips.first.DriverName }}</td>
                <td>DATE & TIME: {{ trips.first.Date }} {{ trips.first.Time }}</td>
                <td>Rate/LTR: <span id="ltrate">{{ trips.first.LTRate }}</span></td>
                <td colspan="6">LTR: <span id="ltr">{{ trips.first.Ltr }}</span></td>
            </tr>
            <tr>
                <td colspan="3">VEHICLE NO.: {{ trips.first.VehicalNo }}</td>
                <td>ADV GIVEN: <span id="advgiven">{{ trips.first.AdvGiven }}</span></td>
                <td colspan="7">Amount: <span id="total_value">{{ total_value }}</span></td>
            </tr>
            <tr>
                <th style="width: 5%;">SL/N</th>
                <th style="width: 5%;">LR No</th>
                <th style="width: 5%;">NO.OF ARTICLES(QTY)</th>
                <th style="width: 10%;">DESC OF GOODS</th>
                <th style="width: 10%;">DESTINATION</th>
                <th style="width: 10%;">AddConsign</th>
                <th style="width: 3%;">TO PAY</th>
                <th style="width: 3%;">PAID</th>
                <th style="width: 3%;">Consigner A/C</th>
                <th style="width: 3%;">Consignee A/C</th>
            </tr>
        </thead>
        <tbody>
            {% for trip in trips %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ trip.LRno }}</td>
                <td>{{ trip.qty }}</td>
                <td>{{ trip.desc }}</td>
                <td>{{ trip.dest }}</td>

                <td>{{ trip.username }}</td>
                <td>
                    {% if trip.pay_status == 'ToPay' %}
                        {{ trip.total_cost }}
                    {% endif %}
                </td>
                <td>
                    {% if trip.pay_status == 'Paid' %}
                        {{ trip.total_cost }}
                    {% endif %}
                </td>
                <td>
                    {% if trip.pay_status == 'Consigner_AC' %}
                        {{ trip.total_cost }}
                    {% endif %}
                </td>
                <td>
                    {% if trip.pay_status == 'Consignee_AC' %}
                        {{ trip.total_cost }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"><strong>Total:</strong></td>
                <td colspan="3">{{ total_qty }}</td>
                <td></td>
                <td>{{ grand_total.ToPay }}</td>
                <td>{{ grand_total.Paid }}</td>
                <td>{{ grand_total.Consigner_AC }}</td>
                <td>{{ grand_total.Consignee_AC }}</td>
            </tr>
        </tfoot>
    </table>

    <br/>

    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <td colspan="7"><strong>HEAD WISE SUMMARY</strong></td>
            </tr>
            <tr>
                <td><strong>HEAD</strong></td>
                <td><strong>Weight Amt</strong></td>
                <td><strong>FREIGHT</strong></td>
                <td><strong>HAMALI</strong></td>
                <td><strong>ST CHARGE</strong></td>
                <td><strong>DOOR CHARGE</strong></td>
                <td><strong>TOTAL</strong></td>
            </tr>
        </thead>
        <tbody>
            {% for status, details in summary.items %}
            <tr>
                <td style="border-top: none; border-bottom: none;"><strong>{{ status }}</strong></td>
                <td style="border-top: none; border-bottom: none;">{{ details.weightAmt }}</td>
                <td style="border-top: none; border-bottom: none;">{{ details.freight }}</td>
                <td style="border-top: none; border-bottom: none;">{{ details.hamali }}</td>
                <td style="border-top: none; border-bottom: none;">{{ details.st_charge }}</td>
                <td style="border-top: none; border-bottom: none;">{{ details.door_charge }}</td>
                <td style="border-top: none; border-bottom: none;">{{ details.total_cost }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td><strong>Total:</strong></td>
                <td>{{ grand_total.grand_weightAmt }}</td>
                <td>{{ grand_total.grand_freight }}</td>
                <td>{{ grand_total.grand_hamali }}</td>
                <td>{{ grand_total.grand_st_charge }}</td>
                <td>{{ grand_total.grand_door_charge }}</td>
                <td>{{ grand_total.grand_total }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}
    </div>
    <script>
         function printAndDelete() {
        // Trigger the print dialog
        window.print();

        // Send an AJAX request to delete the data
        $.ajax({
            type: 'POST',
            url: '{% url "delete_trip_sheet_data" %}', // Ensure this URL pattern matches your Django URL configuration
            data: {
                'vehical': '{{ request.POST.vehical }}',
                't3': '{{ request.POST.t3 }}',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.status === 'success') {
                    console.log('Data deleted successfully.');
                    // Optionally, you can redirect or notify the user
                } else {
                    console.error('Error deleting data: ', response.message);
                }
            },
            error: function(xhr, status, error) {
                console.error('AJAX error: ', status, error);
            }
        });
    }
    </script>

    <div class="no-print">
        <div class="row mt-5">
            <div class="col-12 text-center">

            </div>
        </div>
        <div id="overlayer"></div>
        <div class="loader">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/tiny-slider.js' %}"></script>
        <script src="{% static 'js/aos.js' %}"></script>
        <script src="{% static 'js/navbar.js' %}"></script>
        <script src="{% static 'js/counter.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
    </div>
</body>
</html>
